<html>
<title>Welcome to : {{ domain_name}}</title>
<body>

<h1><center>Welcome to:  {{ domain_name }}</center></h1>
<p>
<p>

<h2>
<center>Find the information about all installed php extensions.</center>
</h2>

<?php
echo "Running as: " . exec('whoami');
phpinfo();
?>

</body>
</html>